h1 {
    text-align: center;
}

#header {
    background: #423D37;
    text-align:center;
    padding:5px;
    height: 10%
}

body {background-color: #292524;}

#content {
    width:83%;

    overflow: auto;
    float:left;
    padding:10px;
    background: #544C3F;
    color: black;

}

#nav {
    background-color:#292524;
    width:17%;
    float:left;
    padding:5px;
}

#nav ul,
#nav li,
#nav a {
    margin: 0;
    padding: 0;
    border: 0;
    color: #FFFFFF;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
}

#nav b {
    margin: 0;
    padding: 0;
    border: 0;
    color: #FFFFFF;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
}

#nav a {
    line-height: 1.3;
}

#nav > ul > li > a {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #E05576;
    color: #292524;
    border-bottom: 1px solid #5e071b;
    text-transform: uppercase;
    position: relative;
}

#nav b {
    line-height: 1.3;
}

#nav > ul > li > b {
    padding-right: 40px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    background: #E05576;
    color: #292524;
    border-bottom: 1px solid #5e071b;
    text-transform: uppercase;
    position: relative;
}

#nav > ul > li > a:hover {
    text-decoration: none;
}

#nav > ul > li > b:hover {
    text-decoration: none;
}

#nav > ul > li.active {
    border-bottom: none;
}

#nav > ul > li.active > a {
    color: #292524;
    background: #468371
}

#nav > ul > li > ul > li.active > a {
    color: #292524;
    background: #468371
}

#nav > ul > li.active > b {
    color: #292524;
    background: #468371
}

#nav ul ul li.active {
    color: #292524;
    background: #468371
}

#nav span.cnt {
    position: absolute;
    top: 8px;
    right: 15px;
    padding: 0;
    margin: 0;
    background: none;
}

#nav ul ul {
    display: none;
}

#nav ul ul li {
    border: 1px solid #e0e0e0;
    border-top: 0;
}

#nav ul ul a {
    padding: 10px;
    display: block;
    color: #292524;
    font-size: 13px;
}

#nav ul ul b {
    padding: 10px;
    display: block;
    color: #292524;
    font-size: 13px;
}

#nav ul ul a:hover {
    color: #292524;
}

#nav ul ul b:hover {
    color: #292524;
}

#nav ul ul li.odd {
    background: #EFF5D3;
}

#nav ul ul li.even {
    background: #DDEAA5;
}

#footer {
    background: #423D37;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}